html
  head
    title= title
    link(rel='stylesheet', href='/xess.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body(id='top')
    main
      h1= title
      p Hi there! This is a simple web app that uses Express.js and Pug.
      footer
        p
          | With love from the nerds at Tigris Data.