html
  head
    title Memes for #{title}
    link(rel='stylesheet', href='/xess.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body(id='top')
    main
      h1 Memes for #{title}
      p 
        | Memes for 
        a(href=url)= title

      each meme in memes
        div
          p
            img.meme(src=meme)        
      footer
        p
          | With love from the nerds at Tigris Data.